@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5;
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: #373a9d;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.fa-bars {
  display: none;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav {
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(17, 17, 17);
  display: inline-block;
}
.nav p {
  padding-top: 70px;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  user-select: none;
}
.nav p span {
  color: #373a9d;
  font-weight: 700;
}
.nav .link_item {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .link_item li {
  padding-bottom: 25px;
}
.nav .link_item li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: ease-in-out 0.5s;
}
.nav .link_item li a:hover {
  letter-spacing: 0.2rem;
  color: #373a9d;
}
.nav .Sociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
.nav .Sociales a {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 20px;
  transition: ease-in-out 0.5s;
}
.nav .Sociales a:hover {
  color: #373a9d;
  font-size: 2rem;
}

.cuerpo {
  width: 75%;
  background-color: rgba(11, 7, 7, 0.2);
  padding-left: 1.5rem;
  display: inline-block;
}
.cuerpo .Inicio {
  display: flex;
  flex-direction: row;
}
.cuerpo .Inicio .text {
  padding-top: 100px;
  display: inline-block;
}
.cuerpo .Inicio .text .text1 {
  color: #373a9d;
  font-size: 1.5rem;
}
.cuerpo .Inicio .text .text2 {
  padding-bottom: 20px;
  font-size: 2.4rem;
  color: #fff;
}
.cuerpo .Inicio .text .text2 span {
  color: #373a9d;
  font-weight: 700;
}
.cuerpo .Inicio .text .text3 {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.cuerpo .Inicio .text .text4 {
  text-align: justify;
  padding-right: 20px;
  padding-bottom: 50px;
}
.cuerpo .Inicio .text .btn {
  margin-top: 1rem;
  padding: 10px 35px;
  background: #373a9d;
  color: #fff;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
}
.cuerpo .Inicio .text .btn:hover {
  letter-spacing: 0.2rem;
  background-color: #000;
}
.cuerpo .Inicio .imagen {
  padding-top: 20px;
  width: 100%;
}
.cuerpo .Inicio .imagen img {
  width: 100%;
}
.cuerpo .AcercadeMi {
  padding-top: 30px;
  display: inline-block;
}
.cuerpo .AcercadeMi .SobreMi {
  font-size: 3.5rem;
}
.cuerpo .AcercadeMi .SobreMi span {
  color: #373a9d;
  font-weight: 700;
}
.cuerpo .AcercadeMi .datosGerenerales {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cuerpo .AcercadeMi .datosGerenerales .imagen {
  width: 100%;
}
.cuerpo .AcercadeMi .datosGerenerales .imagen img {
  width: 100%;
  height: 100%;
  border: #fff 10px solid;
  border-radius: 5%;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion {
  padding-right: 40px;
  padding-left: 20px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion h3 {
  font-size: 1.5rem;
  text-align: justify;
  padding-bottom: 10px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .text {
  text-align: justify;
  padding-bottom: 20px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos {
  display: inline-block;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .personal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .personal .personal1 {
  padding-right: 40px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .personal .personal1 p {
  text-align: justify;
  padding-bottom: 10px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .personal .personal1 p span {
  color: #373a9d;
  font-weight: 700;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .personal .personal2 p {
  text-align: justify;
  padding-bottom: 10px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .personal .personal2 p span {
  color: #373a9d;
  font-weight: 700;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .btn {
  display: inline-block;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .btn a {
  margin-top: 1rem;
  padding: 10px 35px;
  background: #373a9d;
  color: #fff;
  font-size: 1.2rem;
  transition: ease-in-out 0.5s;
  margin-right: 20px;
}
.cuerpo .AcercadeMi .datosGerenerales .presentacion .datos .btn a:hover {
  letter-spacing: 0.2rem;
  background-color: #000;
}
.cuerpo .Servicio h1 {
  font-size: 3.5rem;
}
.cuerpo .Servicio h1 span {
  color: #373a9d;
  font-weight: 700;
}
.cuerpo .Servicio .servic_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem 0;
}
.cuerpo .Servicio .servic_item .item {
  width: 45%;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px 10px;
  background: rgba(25, 20, 20, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(26, 25, 25, 0.8);
}
.cuerpo .Servicio .servic_item .item i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  background: #373a9d;
  border-radius: 50%;
}
.cuerpo .Servicio .servic_item .item h3 {
  color: #444;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.cuerpo .Servicio .servic_item .item p {
  color: #666;
  font-size: 1rem;
  padding-top: 0.5rem;
  text-align: justify;
}
.cuerpo .Experiencia h1 {
  font-size: 3.5rem;
}
.cuerpo .Experiencia h1 span {
  color: #373a9d;
  font-weight: 700;
}
.cuerpo .Experiencia .ExperGeneral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cuerpo .Experiencia .ExperGeneral .ExpeEspe {
  width: 45%;
  text-align: center;
  padding: 1rem;
  background: rgba(25, 20, 20, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(26, 25, 25, 0.8);
  margin: 1rem 1rem;
}
.cuerpo .Experiencia .ExperGeneral .ExpeEspe .contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cuerpo .Experiencia .ExperGeneral .ExpeEspe .contenido span {
  color: #fff;
  font-size: 1.2rem;
  background: #373a9d;
  border-radius: 50rem;
  padding: 0.4rem 1rem;
}
.cuerpo .Experiencia .ExperGeneral .ExpeEspe .contenido h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #111;
}
.cuerpo .Experiencia .ExperGeneral .ExpeEspe .contenido p {
  font-size: 1rem;
  color: #666;
  text-align: justify;
}
.cuerpo .Portafolio {
  display: inline-block;
}
.cuerpo .Portafolio h1 {
  font-size: 3.5rem;
}
.cuerpo .Portafolio h1 span {
  color: #373a9d;
  font-weight: 700;
}
.cuerpo .Portafolio .proyect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cuerpo .Portafolio .proyect .project-item {
  display: none;
}
.cuerpo .Portafolio .proyect .project-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}
.cuerpo .Portafolio .proyect .project-item a {
  width: 100%;
}
.cuerpo .Portafolio .proyect .project-item a .project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}
.cuerpo .Portafolio .proyect .project-item a .project-img img {
  width: 100%;
  height: 100%;
  transition: 0.25s ease;
}
.cuerpo .Portafolio .proyect .project-item a .project-img img:hover {
  transform: scale(1.1);
}
.cuerpo .Portafolio .proyect .project-item a h3 {
  color: #111;
  font-size: 1rem;
}
.cuerpo .Portafolio .proyect .project-item a p {
  color: #666;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.cuerpo .Contacto {
  padding-bottom: 50px;
}
.cuerpo .Contacto h1 {
  font-size: 3.5rem;
  padding-bottom: 20px;
}
.cuerpo .Contacto .contacto_item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}
.cuerpo .Contacto .contacto_item .contac {
  text-align: center;
  padding: 2rem;
  margin-right: 2%;
  background: rgba(25, 20, 20, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(26, 25, 25, 0.8);
  border-radius: 0.5rem;
  margin-bottom: 5%;
}
.cuerpo .Contacto .contacto_item .contac i {
  height: 3rem;
  width: 3rem;
  padding-top: 15px;
  font-size: 1rem;
  background: #373a9d;
  color: #fff;
  border-radius: 50%;
}
.cuerpo .Contacto .contacto_item .contac h3 {
  color: #111;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  padding-top: 1rem;
}
.cuerpo .Contacto .contacto_item .contac p {
  color: #666;
  font-size: 1rem;
}

.footer {
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  background: #fff;
}
.footer span {
  color: #373a9d;
}

/* media queries  */
@media (max-width: 991px) {
  .html {
    font-size: 55%;
  }

  body {
    padding: 0;
  }

  #menu-bars {
    display: initial;
  }

  .nav {
    left: -120%;
  }
  .nav.active {
    left: 0%;
    width: 30%;
    z-index: 10000;
  }

  .cuerpo {
    width: 100%;
  }
}
@media (max-width: 874px) {
  html {
    font-size: 90%;
  }
  html .home .Inicio {
    flex-direction: column;
    justify-content: center;
  }
  html .home .Inicio .text {
    width: 100%;
  }
  html .home .Inicio .imagen {
    width: 90%;
  }
  html .nav {
    width: 100%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 70%;
  }

  .nav {
    width: 100%;
  }

  .cuerpo .AcercadeMi .datosGerenerales {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
