@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

$main-color:#373a9d;
$main-background:rgba(25, 20, 20, 0.1);
$main-box-shadow: 0 .5rem 1rem rgba(26, 25, 25, 0.8);



* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    line-height: 1.5;

}

.fa-bars {
    display: none;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(17, 17, 17);
    display: inline-block;

    p {
        padding-top: 70px;
        font-size: 1.8rem;
        color: #fff;
        text-align: center;
        user-select: none;

        span {
            color: $main-color;
            font-weight: 700;
        }
    }

    .link_item {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        li {
            padding-bottom: 25px;


            a {
                color: #fff;
                font-size: 1.2rem;
                font-weight: 600;
                transition: ease-in-out 0.5s;

                &:hover {
                    letter-spacing: .2rem;
                    color: $main-color;
                }
            }
        }
    }

    .Sociales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;

        a {
            color: #fff;
            font-size: 1.8rem;
            letter-spacing: 20px;
            transition: ease-in-out 0.5s;

            &:hover {
                color: $main-color;
                font-size: 2.0rem;
            }
        }

    }

}


.cuerpo {
    width: 75%;
    background-color: rgba(11, 7, 7, 0.2);
    padding-left: 1.5rem;
    display: inline-block;

    .Inicio {
        display: flex;
        flex-direction: row;

        .text {
            padding-top: 100px;
            display: inline-block;

            .text1 {
                color: $main-color;
                font-size: 1.5rem;

            }

            .text2 {

                padding-bottom: 20px;
                font-size: 2.4rem;
                color: #fff;

                span {
                    color: $main-color;
                    font-weight: 700;
                }
            }

            .text3 {
                font-size: 1.8rem;
                font-weight: 700;
                padding-bottom: 10px;
            }

            .text4 {
                text-align: justify;
                padding-right: 20px;
                padding-bottom: 50px;
            }

            .btn {
                margin-top: 1rem;
                padding: 10px 35px;
                background: $main-color;
                color: #fff;
                font-size: 1.2rem;
                transition: ease-in-out 0.5s;

                &:hover {
                    letter-spacing: .2rem;
                    background-color: #000;
                }
            }
        }

        .imagen {
            padding-top: 20px;
            width: 100%;

            img {
                width: 100%;
            }
        }

    }

    .AcercadeMi {
        padding-top: 30px;
        display: inline-block;

        .SobreMi {
            font-size: 4rem;

            span {
                color: $main-color;
                font-weight: 700;
            }
        }

        .datosGerenerales {
            display: flex;



            .imagen {
                width: 100%;
                
                img {
                    width: 100%;
                    
                }
            }

            .presentacion {
                padding-right: 40px;
                padding-left: 20px;

                h3 {
                    font-size: 1.5rem;
                    text-align: justify;
                    padding-bottom: 10px;
                }

                .text {
                    text-align: justify;
                    padding-bottom: 20px;
                }

                .datos {
                    display: inline-block;

                    .personal {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding-bottom: 50px;

                        .personal1 {
                            padding-right: 40px;
                            p {
                                text-align: justify;
                                padding-bottom: 10px;

                                span {
                                    color: $main-color;
                                    font-weight: 700;
                                }
                            }

                        }

                        .personal2 {
                            
                            p {
                                text-align: justify;
                                padding-bottom: 10px;
                                span {
                                    color: $main-color;
                                    font-weight: 700;
                                }
                            }

                        }



                    }


                    .btn {}
                }


            }
        }

    }


}